SECRET_KEY='secretkeyhere'

AWS_ACCESS_KEY_ID="ACCESSKEYIDGOESHERE"
AWS_SECRET_ACCESS_KEY="SECRETACCESSKEYHERE"
AWS_S3_STORAGE_BUCKET_NAME="S3BUCKETNAMEHERE"

OPEN_HUMANS_REDIRECT_URI=""

OPEN_HUMANS_CLIENT_ID=""
OPEN_HUMANS_CLIENT_SECRET=""

DEFAULT_FROM_EMAIL="datareturnapp@example.com"

# Settings you would need for Heroku deployment.
# Go to your app's settings panel to set environment variables.
#
# Set this so we use Heroku-specific settings.py code...
# HEROKU_SETUP='True'
#
# Database setting: Automatically created if you add Heroku's PostgreSQL plugin
# DATABASE_URL='database url here'
#
# Maigun settings: Automatically created if you add the Mailgun plugin
# MAILGUN_API_KEY='...'
# MAILGUN_DOMAIN='...'
# MAILGUN_PUBLIC_KEY='...'
# MAILGUN_SMPT_LOGIN='...'
# MAILGUN_SMTP_PASSWORD='...'
# MAILGUN_SMTP_PORT='...'
# MAILGUN_SMTP_SERVER='...'
#
# Mail settings: Create and copy values from the Mailgun environment variables
# EMAIL_HOST='{MAILGUN_SMTP_SERVER}'
# EMAIL_HOST_PASSWORD='{MAILGUN_SMTP_PASSWORD}'
# EMAIL_PORT='{MAILGUN_SMTP_PORT}'
# EMAIL_USE_TLS='True'
