{% extends 'base.html' %}

{% load home_extras %}
{% load markdown_deux_tags %}

{% block content %}
{% if user.is_authenticated %}
  <p><b>Account: {{ user.email }}</b></p>

  {% if user.is_staff %}
    <p>
      This is an admin account.
    </p>

    <a class="btn btn-primary"
        href="{% url 'admin:index' %}">
      Go to admin page
    </a>
  {# Not staff. #}
  {% else %}
    <p>{{ site.siteconfig.data_page_explanation|markdown }}</p>
    {% if user.datafile_set.all %}
    <hr>
    <h4>Data files</h4>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>File</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        {% for datafile in user.datafile_set.all %}
        <tr>
          <td>
            <a href="{{ datafile.datafile.url }}">
              {{ datafile.datafile.name|basename }}
            </a>
          </td>
          <td>
            {{ datafile.description }}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
    {% if user.datalink_set.all %}
    <hr>
    <h4>Data links</h4>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Link</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        {% for datalink in user.datalink_set.all %}
        <tr>
          <td>
            <a href="{{ datalink.url }}">
              {{ datalink.name }}
            </a>
          </td>
          <td>
            {{ datalink.description }}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
    {% if not user.datafile_set.all and not user.datalink_set.all %}
      <p>
        Sorry, no data seems to be loaded to this account!
      </p>
    {% else %}
      {{ request.user }}
      {{ request.user.openhumansuser }}
      {{ request.user.openhumansuser.is_connected }}
      <hr>
      <h4>Export to Open Humans</h4>
      {% if not request.user.openhumansuser.is_connected %}
      <p>
        Click the link below to start the data export process to an Open
        Humans account.
      </p>
      <a href="{{ site.openhumansconfig.auth_url }}">
        Export data to Open Humans
      </a>
      {% else %}
      <p>Congrats! Your data is connected to Open Humans.</p>
      <p>
        <small>You can remove this connection on your
          <a href="{{ site.openhumansconfig.removal_url }}">
            Open Humans connections page</a>.</small>
      </p>
      {% endif %}
    {% endif %}
  {% endif %}

{# Not authenticated. #}
{% else %}
<p>
  Welcome to our data return site.
<p>If we've returned data to you, you can access it by logging in
  <a href="{% url 'account_reset_password' %}">with a login link</a>.
</p>
<a class="btn btn-lg btn-primary" href="{% url 'account_reset_password' %}"
    style="margin-top:10px">
  Get a login link</a>

{% endif %}

{% endblock %}
