{% extends "base.html" %}
{% load account %}

{% block head_title %}New login link{% endblock %}

{% block content %}

    <h1>Request a new login link</h1>
    <p>
      Need a new login link to access your account? Enter your email address
      below and we'll send you a fresh link to login.
    </p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Send a new login link" />
    </form>

    <p>
      Our email may take a few minutes to arrive. Please contact us if you
      have trouble logging in to the site.
    </p>
{% endblock %}
